* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Style for header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100px;
  background-image: url("images/wood-bg.png");
  background-repeat: repeat-x;
}

.header img {
  width: 50%;
  display: block;
  margin: auto;
  height: 70%;
  padding-top: 15px;
}

/* Style for nav */

.top-tabs {
  top: 80px;
  background-color: darkgreen;
}

.top-tabs,
.bottom-tabs {
  position: fixed;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 40px;
}

.top-tabs a,
.bottom-tabs a {
  font-size: 18px;
  color: #fff;
  float: left;
  display: block;
  width: 33%;
  height: 35px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 12px;
}

/* Style for main */

.main-home {
  margin-top: 120px;
}

/* Style for footer */

.bottom-tabs {
  bottom: 0;
  background-color: forestgreen;
}

.bottom-tabs a {
  width: 50%;
}

/* Style for Animals page */

.main {
  margin-top: 119px;
  background: url("images/map-blur.png") repeat-y;
}

.content {
  padding: 1px 0 50px 0;
}

/* Style for Animals page - info-box */

a.info-box {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  width: 90%;
  height: 90px;
  margin: 12px auto auto auto;
  padding: 1px;
}

.info-box img {
  height: 70px;
  margin: 10px;
  float: left;
}

.info-box h3 {
  align-items: center;
  width: 90%;
  color: #572800;
  margin-top: 20px;
}

.ingo-box p {
  width: 90%;
  color: #131313;
}

.info-box img.right {
  float: right;
  margin-top: 25px;
  height: 40px;
}

/* Style for elephants page */

.info-box-full {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  display: block;
  margin: 12px auto auto auto;
  padding: 12px;
}

.info-box-full img {
  width: 100%;
}

.info-box-full h3 {
  text-align: center;
  padding: 12px;
}

/* Style for Weather page */

img.info-box-weather-icon {
  height: 30px;
  width: 30px !important;
  margin: 10px;
  float: left;
}

h1.info-box-weather-icon {
  font-size: 65px;
  font-weight: 200;
}

table {
  width: 100%;
}

td {
  border-top: 1px solid #131313;
}

/* Style for Success page */

input {
  width: 100%;
  height: 25px;
  margin: 12px 0;
  border: 1px solid #929292;
}

textarea {
  width: 100%;
  height: 65px;
  margin: 12px 0;
  border: 1px solid #929292;
}

.button {
  display: block;
  width: 100%;
  background-color: forestgreen;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0;
  padding: 8px 0;
}
